.app {
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: black;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

#routes {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  flex: 1;
  display: flex; }
  #routes > * {
    width: 100%;
    overflow-x: hidden; }

::-webkit-scrollbar {
  width: 5px;
  display: block; }
  ::-webkit-scrollbar-track {
    display: none; }
  ::-webkit-scrollbar-thumb {
    background: #94c11d;
    border: 0.3px solid white; }

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #35424a;
  color: white; }
  .toolbar #logo {
    height: 75%; }

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }

.nav-link {
  padding: 0 0.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }
  .nav-link:hover {
    color: #94c11d;
    text-decoration: none; }
  .nav-link:active {
    color: #94c11d;
    text-decoration: none; }

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

#banner {
  position: relative;
  min-height: 480px;
  display: flex; }
  #banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15vw;
    text-align: center;
    top: 80px;
    width: 100%; }
  #banner h1,
  #banner h2,
  #banner h3,
  #banner h4 {
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white; }
  #banner h1 {
    font-size: 55px;
    margin: 0; }
  #banner .bg {
    position: absolute;
    background: url("/images/pt/showcase5.jpg") no-repeat 0 -200px;
    background-size: cover;
    opacity: 0.2;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto; }
    #banner .bg-tint {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #35424a; }
  @media (hover: hover) {
    #banner:hover {
      cursor: default; } }

#program-details {
  padding: 5%; }
  #program-details .boxes-row {
    display: flex; }
    #program-details .boxes-row .box {
      display: inline-block;
      text-align: center;
      padding: 40px;
      margin: 10px;
      width: 30%;
      max-height: 200px; }
      #program-details .boxes-row .box p {
        font-size: 0.9em;
        letter-spacing: 0; }

#about {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #about .about-section {
    margin: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  #about .section-title {
    width: 100%;
    max-width: 960px; }
  #about .section-content {
    font-size: 0.9em;
    display: flex;
    max-width: 960px; }
    #about .section-content-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 66%;
      text-align: justify;
      text-justify: auto; }
    #about .section-content-image {
      width: 100%;
      height: 100%;
      object-fit: cover; }
      #about .section-content-image-container {
        width: 33%;
        margin-left: 25px;
        box-sizing: border-box; }
        #about .section-content-image-container.meth {
          margin-left: 0;
          margin-right: 25px; }
      #about .section-content-image.meth {
        object-fit: contain; }

#footer {
  width: 100%;
  height: 50px;
  background-color: #35424a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-weight: 300;
  text-transform: capitalize; }
  #footer form {
    display: flex;
    width: 40%; }
    #footer form input {
      padding: 5px;
      margin-right: 4px;
      width: 100%;
      max-width: 350px; }
    #footer form button {
      background: #94c11d;
      color: #ffffff;
      height: 32px;
      border: none;
      padding-left: 20px;
      padding-right: 20px; }

.carousel {
  margin: 20px;
  margin-bottom: 50px;
  padding: 0 130px;
  box-sizing: border-box;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .carousel .current-slide {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .carousel .current-slide .method {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 20px;
      width: 85%;
      height: 200px;
      opacity: 0;
      transition: 0.3s; }
      .carousel .current-slide .method.next, .carousel .current-slide .method.prev {
        opacity: 1;
        transition: 0.3s; }
  .carousel .arrow {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin: 10px;
    padding: 0 10px;
    height: 100%;
    box-sizing: border-box;
    z-index: 44; }
    @media (hover: hover) {
      .carousel .arrow:hover {
        cursor: pointer;
        color: #94c11d;
        background-color: #faf9f9; } }
