.app {
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: black;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-content: center; }

#routes {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  flex: 1;
  display: flex; }

::-webkit-scrollbar {
  width: 5px;
  display: block;
  /* Handle */ }
  ::-webkit-scrollbar-track {
    display: none; }
  ::-webkit-scrollbar-thumb {
    background: #94c11d;
    border: 0.3px solid white; }
    ::-webkit-scrollbar-thumb:hover {
      background: white;
      cursor: pointer; }

#newsletter {
  width: 100%;
  height: 70px;
  z-index: 99;
  background-color: #35424a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-weight: 300;
  text-transform: capitalize;
  position: fixed;
  bottom: 0; }
  #newsletter form {
    display: flex;
    width: 40%; }
    #newsletter form input {
      border: 2px solid #94c11d;
      padding: 10px;
      /* margin: 4px 0; */
      margin-right: 4px;
      width: 100%;
      max-width: 350px; }
    #newsletter form button {
      height: 38px;
      background: #94c11d;
      border: 0;
      padding-left: 20px;
      padding-right: 20px;
      color: #ffffff; }

.toolbar {
  position: fixed;
  height: 80px;
  width: 100vw;
  background-color: #35424a;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 2.5px solid #94c11d;
  z-index: 100;
  padding: 0 1rem; }

.toolbar .logo a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900; }

.toolbar .spacer {
  flex: 1; }

ul.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 1.5rem; }

li.nav-item {
  padding: 0 0.5rem; }

li.nav-item a {
  color: white;
  text-decoration: none; }

li.nav-item a:hover {
  color: #94c11d;
  text-decoration: none; }

li.nav-item a:active {
  color: #94c11d;
  text-decoration: none; }

.home {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

#banner {
  position: relative;
  min-height: 480px;
  display: flex; }
  #banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15vw;
    text-align: center;
    top: 80px; }
  #banner h1,
  #banner h2,
  #banner h3,
  #banner h4 {
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white; }
  #banner h1 {
    font-size: 55px;
    margin: 0; }
  #banner .bg {
    position: absolute;
    background: url("/images/pt/showcase5.jpg") no-repeat 0 -200px;
    background-size: cover;
    opacity: 0.2;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto; }
    #banner .bg-tint {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #35424a; }
  @media (hover: hover) {
    #banner:hover {
      cursor: default; } }

#boxes {
  padding: 5%; }
  #boxes .boxes-row {
    display: flex; }
    #boxes .boxes-row .box {
      display: inline-block;
      text-align: center;
      padding: 40px;
      margin: 10px;
      width: 30%;
      max-height: 200px; }
      #boxes .boxes-row .box p {
        font-size: 0.9em;
        letter-spacing: 0; }

div#about {
  margin-top: 80px; }

.row {
  display: flex; }
