@import '../App/variables';

.home {
  margin-top: 80px;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

#banner {
  position: relative;

  min-height: 480px;

  display: flex;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 15vw;
    text-align: center;
    top: 80px;
  }

  h1,
  h2,
  h3,
  h4 {
    z-index: 1;

    font-family: 'Open Sans', sans-serif;

    font-weight: 300;
    color: white;
  }

  h1 {
    font-size: 55px;
    margin: 0;
  }

  .bg {
    position: absolute;

    background: url('/images/pt/showcase5.jpg') no-repeat 0 -200px;
    background-size: cover;
    opacity: 0.2;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    &-tint {
      position: absolute;
      height: 100%;
      width: 100%;
      background: $app-blue;
    }
  }

  @media (hover: hover) {
    &:hover {
      cursor: default;
    }
  }
}


#program-details {
  padding: 5%;
  
  .boxes-row {
    display: flex;

    .box {
      display: inline-block;
      text-align: center;
      padding: 40px;
      margin: 10px;
      width: 30%;
      max-height: 200px;
      p {
        font-size: 0.9em;
        letter-spacing: 0;
      }
    }
    // .symb {
      
    //   font-family: "Font Awesome 5 Pro";
       
    //   &.clock {
    //       // &::before {
    //       // content: url('/images/icons/poll.svg');
    //       // content: '\f1da'
    //     }
    //   }
    // }
  }
}
