@import '../App/variables';

.navbar {
  height: 80px;
  width: 100vw;

  background-color: $app-blue;
  color: white;

  display: flex;
  align-items: center;

  border-bottom: 2.5px solid $lime-green;
}