@import '../App/variables';

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;

  padding: 0 20px;
  box-sizing: border-box;

  background-color: $app-blue;
  color: white;

  // border-bottom: 2.5px solid $lime-green;

  #logo {
    height: 75%;
  }
}

.nav {
  &-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &-link {
    padding: 0 0.5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $lime-green;
      text-decoration: none;
    }

    &:active {
      color: $lime-green;
      text-decoration: none;
    }
  }
}
