@import '../App/variables';

.carousel {
  margin: 20px;
  margin-bottom: 50px;
  padding: 0 130px;
  box-sizing: border-box;

  width: 100%;
  height: 40%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .current-slide {
    position: relative;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .method {
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 20px;

      width: 85%;
      height: 200px;

      // left: auto;

      opacity: 0;

      transition: 0.3s;

      &.next, &.prev {
        // z-index: 33;

        // left: 100%;
        // transform: translateX(-100%);

        opacity: 1;
        transition: 0.3s;
      }
    }
  }

  .arrow {
    display: flex;
    align-items: center;

    font-size: 1.5em;

    margin: 10px;
    padding: 0 10px;
    height: 100%;
    box-sizing: border-box;

    z-index: 44;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        color: $lime-green;
        background-color: #faf9f9;
      }
    }
  }
}
